beautifulsoup4==4.10.0; python_full_version > "3.0.0"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "3.6" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin")
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
colorclass==2.2.2; python_version >= "2.6"
cryptography==36.0.1; python_version >= "3.6" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin")
dnspython==2.2.0; python_version >= "3.6" and python_version < "4.0"
docopt==0.6.2
easygui==0.98.2
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
lxml==4.8.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
msoffcrypto-tool==5.0.0; python_version >= "3.6" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin")
olefile==0.46; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin") or python_version >= "3.6" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin") and python_full_version >= "3.4.0"
oletools==0.60
pcodedmp==1.2.6
pdfminer==20191125; python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin") or python_version >= "3.6" and python_version < "4.0" and (platform_python_implementation != "PyPy" or python_version >= "3" and platform_system != "Windows" and platform_system != "Darwin") and python_full_version >= "3.4.0"
pycryptodome==3.14.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyparsing==2.4.7; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
python-whois==0.7.3
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
soupsieve==2.3.1; python_version >= "3.6" and python_full_version > "3.0.0"
termcolor==1.1.0
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
win-unicode-console==0.5; platform_system == "Windows" and platform_python_implementation != "PyPy"
